In [3]:
numbers = [1,2,3,4,5]
print(numbers)
print("average:", sum(numbers)/len(numbers))
print("max:", max(numbers))
print("min:", min(numbers))

[1, 2, 3, 4, 5]
average:  3.0
max:  5
min: 1

In [4]:
dict={
    "name": "Choco",
    "age": 20,
    "city": "Delhi"
}
print(dict["name"])

Choco

In [6]:
x = int(input("Enter the number:"))
y = int(input("Enter the number:"))
print(x**y)

Enter the number:5
Enter the number:2
25

In [7]:
numbers = [10,20,30,40,50]
for i in numbers:
    print(i)

10
20
30
40
50

In [8]:
numbers = [10,20,30,40,50]
for i in numbers:
  print(i*2)

20
40
60
80
100