In [5]:
import pandas as pd
df = pd.DataFrame({
    "Marks": [80,90,70]
})
print(df)
print(df["Marks"].mean())

   Marks
0     80
1     90
2     70
80.0

In [10]:
import pandas as pd

data = {
    "Name": ["Ari", "Choco", "Dark"],
    "Age": [20, 30, 25]
}
df = pd.DataFrame(data)
print(df)
print(df["Age"])
print(df["Age"].mean())
df["Age_after_1_year"] = df["Age"] + 1
print(df)

    Name  Age
0    Ari   20
1  Choco   30
2   Dark   25
0    20
1    30
2    25
Name: Age, dtype: int64
25.0
    Name  Age  Age_after_1_year
0    Ari   20                21
1  Choco   30                31
2   Dark   25                26